<html>

<head>
    <title>奇妙清单</title>
    <meta charset="utf-8">
    </style>
    <script src="https://unpkg.com/vue"></script>
</head>

<body>
    <div id="todolist">
        <input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo" />
        <ul>
            <li is="todoitem" v-for="(todo, index) in todos" v-bind:key="index" v-bind:title="todo" v-bind:complet="complet" v-on:click="todone"></li>
        </ul>
    </div>
    <script src="todolist.js"></script>
</body>

</html>